#root {
 font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 5em;
  padding-bottom: 5em;
  height: 100vh;
  background:  rgb(167, 225, 225);
}

@media (min-width: 768px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
}

.tab-active {
  border-bottom: 4px rgb(204,85,0) solid;
  padding-bottom: 0.5em;
}

form {
  display:flex;
  background-color: white;
  align-items: center;
}

input {
  padding: 0.5em;
  font-size: 2em;
  flex: 1;
  border: none;
}

input:focus {
  outline: none;
}

button {
  background-color: white;
  border:none;
  cursor: pointer;
}

.recipe-grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
  padding-top: 2em;
}


.recipe-card {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  gap: 1.5em;
  animation: scaleIn 1.5s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 0.8;
    transform: scale(1);
  }
}

.recipe-card h3 {
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-more-button {
  font-size: 1em;
  padding: 0.5em;
  font-weight:bold;
  border-radius: 1em;

  margin:auto;
  animation: wiggle 2s linear infinite;
}

.view-more-button:hover {
  background-color: #CC5500; /* Burnt orange */
  color: white;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);

  }
  15% {
    transform: rotateZ(-15deg);

  }
  20% {
    transform: rotateZ(10deg);

  }
  25% {
    transform: rotateZ(-10deg);

  }
  30% {
    transform: rotateZ(6deg);

  }
  35% {
    transform: rotateZ(-4deg);

  }
  40%, 100% {
    transform: rotateZ(0);

  }
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.header {
  position: relative;
}

.header img {
  width: 100%;
  height: 500px;

  object-fit: cover;
  object-position: center;
  opacity: 60%;
  border-radius: 1em;
}



.title {
  position:absolute;

  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-family: cursive;
  text-align: center;
  background-color: rgb(204, 85, 0);
  opacity: 100%;
  padding: 0.3em 1.3em 0.3em 1.3em;
  animation: rotateIn 1.5s ease-in-out forwards;
  border-radius: 1em;
}
@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-180deg);
  }
  to {
    opacity: 0.8;
    transform: rotate(0deg);
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  background-color: white;
  padding:2em;
  border-radius: 4px;
  max-width: 500px;
}

.tabs{
  display: flex;
  gap: 2em;
  cursor: pointer;
  font-family: cursive;
}

.recipe-card-title {
  display:flex;
  align-items: center;
  gap: 0.5em;
}



input {
  font-family: cursive;
}
